doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        style
            include styles.css
        title Tran Nguyen Ky Duyen
    body
        div(class='content')
            include pug/basics
            div(class='table')
                div(class='main')
                    include pug/education
                    include pug/work
                    include pug/writing
                    include pug/filming
                    include pug/languages

                    //- include pug/speaking
                    //- include pug/projects

                //- div(class='side')
                    //- include pug/education
                    //- include pug/writing
                    //- include pug/skills
                    //- include pug/certificates
                    //- include pug/awards
                    //- include pug/languages
                    //- include pug/interests
                    //- include pug/links
